{% load staticfiles %}
<html>
    <head>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Lab webpage">
        <meta name="author" content="Andrew Van">
        <link rel="icon" href="{% static 'common/img/favicon.ico' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Lab</title>
        <link rel="stylesheet" href="{% static 'common/css/pagefade.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/octicons.min.css" integrity="sha256-4eCms8tUm+iL29tUvmRhNRnz/7lNI4oTtQzqa/uM2dI=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css" integrity="sha256-pNGG0948CVwfHxxS8lVkUKftaSsMBzFSUknrKr2utfY=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" integrity="sha256-j+P6EZJVrbXgwSR5Mx+eCS6FvP9Wq27MBRC/ogVriY0=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'common/css/bootstrap-better-nav.css' %}">
        <link rel="stylesheet" href="{% static 'common/css/base.css' %}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar fixed-top navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="NavContent">
                <ul class="navbar-nav">
                    <li class="nav-item {% block homepage %}{% endblock %}">
                        <a class="nav-link" href="{% url 'common:homepage' %}">home</a>
                    </li>
                    <li class="nav-item {% block people %}{% endblock %}">
                        <a class="nav-link" href="{% url 'common:people' %}">people</a>
                    </li>
                    <li class="nav-item {% block publications %}{% endblock %}">
                        <a class="nav-link" href="{% url 'common:publications' %}">publications</a>
                    </li>
                    <li class="nav-item {% block research %}{% endblock %}">
                        <a class="nav-link" href="{% url 'common:research' %}">research</a>
                    </li>
                    <li class="nav-item {% block careers %}{% endblock %}">
                        <a class="nav-link" href="{% url 'common:news' %}">news</a>
                    </li>
                    <li class="nav-item {% block directions %}{% endblock %}">
                        <a class="nav-link" href="{% url 'common:directions' %}">directions</a>
                    </li>
                    <li class="nav-item {% block contact %}{% endblock %}">
                        <a class="nav-link" href="{% url 'common:contact' %}">contact</a>
                    </li>
                </ul>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <!-- Load jQuery -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{% static 'common/js/bootstrap-better-nav.js' %}"></script>
        <script src="{% static 'common/js/pagefade.js' %}"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
