{% extends 'common/base.html' %}
{% load staticfiles %}

{% block directions %}active{% endblock %}

{% block content %}
    <div class="container-fluid nopad pagefade">
        <div class="row align-items-center no-gutters title">
            <div class="col">
                <h1 class="display-4 black-text animated fadeInLeft section-title">directions</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'common/js/pagefade.js' %}"></script>
{% endblock %}
