{% extends 'common/base.html' %}
{% load staticfiles %}

{% block directionscontact %}active{% endblock %}

{% block content %}
<div class="container-fluid nopad pagefade">
    <div class="row no-gutters title">
        <div class="col-10 offset-1 col-md-4 offset-md-0 col-lg-4 offset-lg-0 col-xl-3 align-self-center">
            <h1 class="display-4 black-text animated fadeInLeft section-title" style="font-size:2.5rem;">directions/contact</h1>
        </div>
        <div class="col-10 offset-1 col-md-6 offset-md-1 col-lg-7 offset-lg-0 col-xl-8 animated fadeInRight content">
            <br><br><br>
            <p class="text-center">For inquiries, please contact Caterina Gratton (Cresap Lab 201) at caterina.gratton@gmail.com </p>
            <p class="text-center">Our lab is located at:</p>
            <p class="text-center">Cresap Lab 315<br>
                    2021 Sheridan Road<br>
                    Evanston, IL, 60208</p>
            <p class="text-center">The TMS testing room is located at Cresap Lab 109A<p>
            <p class="text-center">Directions to the scanner can be found on the <a href="http://neuroimaging.northwestern.edu/volunteer/" target="_blank">Parrish Neuroimaging Laboratory Website</a></p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d1429.966309695055!2d-87.6747168105072!3d42.05473649663277!2m2!1f0!2f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fda9e29d64905%3A0x1795c48c6b940fd3!2sCresap+Laboratory!5e1!3m2!1sen!2sus!4v1523223513320" allowfullscreen></iframe>
            </div>
            <br><br><br>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
