{% extends 'common/base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'common/css/home.css' %}">
{% endblock %}

{% block homepage %}active{% endblock %}

{% block content %}
<div class="container-fluid nopad">
    <div class="row no-gutters pagefade">
        <div class="col-lg-6 main-col animated fadeInLeft">
            <div class="row align-items-center no-gutters title">
                <div class="main-bg"></div>
                <div class="col">
                    <h4 class="text-center black-text display-4 title-text">gratton|lab</h4>
                    <div class="d-flex justify-content-center">
                        <span class="octicon octicon-triangle-down scroll-down d-lg-none d-xl-none"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 main-col animated fadeInRight">
            <div class="row align-items-center no-gutters link-block" id="row1">
                <div class="col-6 link-box people">
                    <div class="row align-items-center no-gutters">
                        <div class="background"></div>
                        <a class="link-to-page" href="{% url 'common:people' %}"></a>
                        <div class="col">
                            <h2 class="text-center white-text display-4 block-text">people</h2>
                        </div>
                    </div>
                </div>
                <div class="col-6 link-box publications">
                    <div class="row align-items-center no-gutters">
                        <div class="background"></div>
                        <a class="link-to-page" href="{% url 'common:publications' %}"></a>
                        <div class="col">
                            <h2 class="text-center white-text display-4 block-text">publications</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center no-gutters link-block" id="row2">
                <div class="col-6 link-box research">
                    <div class="row align-items-center no-gutters">
                        <div class="background"></div>
                        <a class="link-to-page" href="{% url 'common:research' %}"></a>
                        <div class="col">
                            <h2 class="text-center white-text display-4 block-text">research</h2>
                        </div>
                    </div>
                </div>
                <div class="col-6 link-box news">
                    <div class="row align-items-center no-gutters">
                        <div class="background"></div>
                        <a class="link-to-page" href="{% url 'common:news' %}"></a>
                        <div class="col">
                            <h2 class="text-center white-text display-4 block-text">news</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center no-gutters link-block" id="row3">
                <div class="col-6 link-box directions">
                    <div class="row align-items-center no-gutters">
                        <div class="background"></div>
                        <a class="link-to-page" href="{% url 'common:directions' %}"></a>
                        <div class="col">
                            <h2 class="text-center white-text display-4 block-text">directions</h2>
                        </div>
                    </div>
                </div>
                <div class="col-6 link-box contact">
                    <div class="row align-items-center no-gutters">
                        <div class="background"></div>
                        <a class="link-to-page" href="{% url 'common:contact' %}"></a>
                        <div class="col">
                            <h2 class="text-center white-text display-4 block-text">contact</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$('.link-to-page').click(function(event){
    // Prevent default redirect
    event.preventDefault();
    // Hide link
    $(event.target).hide();
    // Fade block background to black
    $(event.target).siblings(".background").css({"filter":"brightness(0)","-webkit-filter":"brightness(0)"});
    // Make current selection persist
    $(event.target).parent().parent().css({"max-width":"100%","flex":"0 0 100%"});
    // Make current selection text stay appeared
    $(event.target).siblings(".col").children("h2").css({"visibility":"visible","opacity":"1"});
    // Make other box disappear within the same row
    $(event.target).parent().parent().siblings().css({"max-width":"0%","flex":"0 0 0%"});
    // Make text disappear//Collapse title column and its text
    $(event.target).parent().parent().siblings().children().children(".col").children("h2").css({"visibility":"hidden","opacity":"0","display":"none"});
    // Collapse height of non selected row while expanding selected row
    $(event.target).parent().parent().parent().css({"height":"100vh"});
    $(event.target).parent().parent().parent().siblings().css({"height":"0"})
    // Make text of those rows disappear
    $(event.target).parent().parent().parent().siblings().children().children().children(".col").children("h2").css({"visibility":"hidden","opacity":"0","display":"none"});
    // Expand main column
    $(event.target).parent().parent().parent().parent().css({"max-width":"100%","flex":"0 0 100%"})
    //Collapse title column and its text
    $(event.target).parent().parent().parent().parent().siblings().css({"max-width":"0%","flex":"0 0 0%"})
    $(".title-text").fadeOut(500);
    // fade text after 2 seconds
    setTimeout(function() { $(event.target).siblings(".col").children("h2").fadeOut(750); },1500);
    // Go to page after 3 seconds
    setTimeout(function() { window.location.href = event.target.href; },2500);
});
$(".scroll-down").click(function(){
    // Scroll-down by viewport height
    $('html, body').animate({
        scrollTop: $(window).scrollTop() + $(window).height()
    },1500);
});
</script>
{% endblock %}
