{% extends 'common/base.html' %}
{% load staticfiles %}

{% block news %}active{% endblock %}

{% block content %}
    <div class="container-fluid nopad pagefade">
        <div class="row align-items-center no-gutters title">
            <div class="col">
                <h1 class="display-4 black-text animated fadeInLeft section-title">news</div>
            </div>
        </div>
    </div>
    {% for item in news %}
        <h2>{{ item.title }}</h2>
        {{ item.content|safe }}
    {% endfor %}
{% endblock %}

{% block scripts %}
<script src="{% static 'common/js/pagefade.js' %}"></script>
{% endblock %}
