{% extends 'common/base.html' %}
{% load staticfiles %}

{% block news %}active{% endblock %}

{% block content %}
<div class="container-fluid nopad pagefade">
    <div class="row no-gutters title">
        <div class="col-9 offset-2 col-md-3 offset-md-0 align-self-center">
            <h1 class="display-4 black-text animated fadeInLeft section-title">news</h1>
        </div>
        <div class="col-9 offset-2 col-md-8 offset-md-0 animated fadeInRight">
            <form class="form-layout" method="get">
                <div class="form-row">
                    <div class="form-group col">
                        <select name="year" class="form-control">
                            <option value="year" selected>All Years</option>
                            {% for yearitem in yearnum %}
                            <option value="{{ yearitem }}" {% if year == yearitem %}selected{% endif %}>{{ yearitem }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col">
                        <select name="month" class="form-control">
                            <option value="month">All Months</option>
                            {% for monthitem in monthnum %}
                            <option value="{{ monthitem }}"  {% if month == monthitem %}selected{% endif %}>{{ monthitem }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
            {% for item in news %}
            <div class="row no-gutters">
                <div class="col-12">
                    <p>{{ item.pub_date }}</p>
                    <h2>{{ item.title }}</h2>
                    {{ item.content|safe }}
                    <p>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
    <div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
