{% extends 'common/base.html' %}
{% load staticfiles %}

{% block research %}active{% endblock %}

{% block content %}
<div class="container-fluid nopad pagefade">
    <div class="row align-items-center no-gutters title">
        <div class="col-10 offset-1 col-md-4 offset-md-0">
            <h1 class="display-4 black-text animated fadeInLeft section-title">research</h1>
        </div>
        <div class="col-10 offset-1 col-md-7 offset-md-0 research-col animated fadeIn content" id="research0">
            <p>At every waking moment the human brain absorbs information, selectively filters it, and integrates
                it into perceptions and memories. When presented with the same world, we can effortlessly engage
                in many different activities depending on our goals. How does the brain flexibly coordinate these
                functions? What happens when they break down?</p>
            <p>Our lab pursues these fundamental questions using a combination of methods including functional
                Magnetic Resonance Imaging (fMRI), electroencephalography (EEG), transcranial magnetic stimulation
                (TMS), and studies of patients with different forms of neurological or psychiatric illness. We
                combine these methods with a sophisticated computational toolkit, examining the representational,
                processing, and network characteristics of different brain regions.</p>
            <p>To address these questions, we are pursuing several complementary lines of work:</p>
            <p class="text-right">
                <span class="arrow octicon octicon-triangle-right" id="research0-rightarrow"></span>
            </p>
        </div>
        <div class="col-10 offset-1 col-md-7 offset-md-0 research-col animated fadeIn content" id="research1">
            <h3>Networks and hubs</h3>
            <p>The brain is made up of different areas that flexibly interact as part of large-scale
                systems or “networks”. In recent years, we have made enormous advances in understanding how these systems
                are typically organized in humans. This platform allows us to ask exciting new questions, including: </p>
            <p><ul>
                <li>Are hub regions - which interact with many different networks - special? What functions do they carry out?</li>
                <li>How do networks vary over time, in different contexts, and across individuals?</li>
                <li>How do networks break down?</li>
                <li>How do networks contribute to complex behavior?</li>
            </ul></p>
            <p class="text-right">
                <span class="arrow octicon octicon-triangle-left" id="research1-leftarrow"></span>
                <span class="arrow octicon octicon-triangle-right" id="research1-rightarrow"></span>
            </p>
        </div>
        <div class="col-10 offset-1 col-md-7 offset-md-0 research-col animated fadeIn content" id="research2">
            <h3>Top-down control systems of the human brain</h3>
            <p>“Control” refers to our ability to alter neural processing and actions depending on our goals. A number
                of areas in the frontal and parietal lobes have been implicated in these processes. What differentiates these areas?
                What control functions are they specialized in? How do they interact? Do these interactions change in different
                contexts?</p>
            <p class="text-right">
                <span class="arrow octicon octicon-triangle-left" id="research2-leftarrow"></span>
                <span class="arrow octicon octicon-triangle-right" id="research2-rightarrow"></span>
            </p>
        </div>
        <div class="col-10 offset-1 col-md-7 offset-md-0 research-col animated fadeIn content" id="research3">
            <h3>Top-down modulation of vision</h3>
            <p>What do “control” systems control? In this line of work, we ask how our goals change the way we see the world.
                There is abundant work demonstrating that attention to a visual stimulus changes various aspects of its representation,
                including the gain, tuning, and reliability of responses. We ask: what systems-level mechanisms lead to these changes?
                Do these differ across individuals and contexts? Are they linked to different neuromodulators?</p>
            <p class="text-right">
                <span class="arrow octicon octicon-triangle-left" id="research3-leftarrow"></span>
                <span class="arrow octicon octicon-triangle-right" id="research3-rightarrow"></span>
            </p>
        </div>
        <div class="col-10 offset-1 col-md-7 offset-md-0 research-col animated fadeIn content" id="research4">
            <h3>Methods development</h3>
            <p>These exciting questions push us to new advances in methodologies, to tackle brain function more precisely and at a wide
                range of spatiotemporal scales. Thus, our lab engages in a multitude of efforts to integrate existing methods and develop
                new methodological and analytical approaches. Recent work has included advances in measuring individual variability,
                reducing artifacts, and combining TMS and fMRI.</p>
            <p class="text-right">
                <span class="arrow octicon octicon-triangle-left" id="research4-leftarrow"></span>
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
// On start
$('.research-col').hide();
$('#research0').show();

// on clicks
$('.arrow').on('click',function(e){
    // get arrow clicked
    var currentblock = parseInt(e.currentTarget.id.split("-")[0].split("research")[1]);
    var selectedarrow = e.currentTarget.id.split("-")[1];

    // get new block
    if (selectedarrow == 'rightarrow') {
        var newblock = currentblock+1;
    }
    else if (selectedarrow == 'leftarrow') {
        var newblock = currentblock-1;
    }

    // display new block
    $('.research-col').hide();
    $('#research'+String(newblock)).show();
});
</script>
{% endblock %}
