a {
    color: inherit;
}
a:hover {
    color: inherit;
    text-decoration: none;
}
.title-text {
    font-size: 1.5rem;
}
.block-text {
    font-size: 1.5rem;
}
.main-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    background-image: url("../imgs/silhouette.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-col {
    -webkit-transition: max-width 1s, flex 1s;
    -webkit-transition-delay: 1s;
    transition: max-width 1s, flex 1s;
    transition-delay: 1s;
}
.link-block {
    height: 33.3333vh;
    -webkit-transition: height 1s;
    transition: height 1s;
}
.link-block > .col-6 > .row.align-items-center {
    height: 100%;
}
/* Set Animation for link block selection */
.link-block > .col-6 {
    -webkit-transition: max-width 1s, flex 1s;
    transition: max-width 1s, flex 1s;
}
.link-block:hover > .col-6 { /* Collapse row on hover */
    max-width: 10%;
    flex: 0 0 10%;
}
.link-block > .col-6 > .row > .col > h2 { /* Set Animation for hiding text*/
    -webkit-transition: visibility 0.5s, opacity 0.5s;
    transition: visibility 0.5s, opacity 0.5s;
}
.link-block:hover > .col-6 > .row > .col > h2 { /* Hide text*/
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}
.link-to-page { /* Set link to fill box */
    height: 100%;
    width: 100%;
    z-index: 10;
    position: absolute;
}
.link-box {
    height: 100%;
}
/* Show each block and its text */
.link-box.people:hover {
    max-width: 90%;
    flex: 0 0 90%;
}
.link-box.people:hover > .row > .col > h2 {
    visibility: visible;
    opacity: 1;
}
.link-box.publications:hover {
    max-width: 90%;
    flex: 0 0 90%;
}
.link-box.publications:hover > .row > .col > h2 {
    visibility: visible;
    opacity: 1;
}
.link-box.research:hover {
    max-width: 90%;
    flex: 0 0 90%;
}
.link-box.research:hover > .row > .col > h2 {
    visibility: visible;
    opacity: 1;
}
.link-box.news:hover {
    max-width: 90%;
    flex: 0 0 90%;
}
.link-box.news:hover > .row > .col > h2 {
    visibility: visible;
    opacity: 1;
}
/* Not yet used; rename in future */
.link-box.directions:hover {
    max-width: 90%;
    flex: 0 0 90%;
}
.link-box.directions:hover > .row > .col > h2 {
    visibility: visible;
    opacity: 1;
}
.link-box.contact:hover {
    max-width: 90%;
    flex: 0 0 90%;
}
.link-box.contact:hover > .row > .col > h2 {
    visibility: visible;
    opacity: 1;
}
/* Set backgrounds for each block */
.link-box > div > .background {
    -webkit-transition: -webkit-filter 0.5s;
    transition: filter 0.5s;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
}
.people > div > .background {
    background-image: url("../imgs/neuron_cover3.png");
    -webkit-filter: brightness(0.3);
    filter: brightness(0.3);
    background-position: 50% 40%;
}
.publications > div > .background {
    background-image: url("../imgs/neuron_cover2.png");
    -webkit-filter: brightness(0.75);
    filter: brightness(0.75);
}
.research > div > .background {
    background-image: url("../imgs/neuron_cover.png");
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}
.news > div > .background {
    background-image: url("../imgs/SpringEmbedded_hubs.png");
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
}
.directions > div > .background {
    background-image: url("../imgs/corrmat.png");
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
}
.contact > div > .background {
    background-image: url("../imgs/powernetwork.jpeg");
    background-position: 10% 20%;
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
}
.scroll-down {
    font-size: 60;
    color: #222;
    cursor: pointer;
}
.pagefade { /* on home page turn off page fade in */
    -webkit-filter:brightness(1);
    filter:brightness(1);
}
